/chapt2/basic/build/
/chapt2/colcon_test_ws/build/
/chapt2/colcon_test_ws/install/
/chapt2/colcon_test_ws/log/

/chapt2/chapt2_ws/build/
/chapt2/chapt2_ws/install/
/chapt2/chapt2_ws/log/

/chapt2/chapt2_ws/src/example_cpp/build/
/chapt2/chapt2_ws/src/example_cpp/install/
/chapt2/chapt2_ws/src/example_cpp/log/

/chapt3/chapt3_ws/build/
/chapt3/chapt3_ws/install/
/chapt3/chapt3_ws/log/